.task-card {
  position: relative;
  cursor: pointer;
  transition: max-height 0.5s ease;
  overflow: hidden;
  max-height: 150px; /* Adjust based on the initial content height */

  width: 300px; /* Fixed width for all task cards */
}

.task-card.expanded {

  max-height: none; /* Allow the card to expand to fit content */
  overflow: visible; /* Ensure all content is visible */
}

.task-card-title {
  color: rgb(10, 0, 0);
  padding: 1px 5px;
  border-radius: 5px;
  font-size: 1.2rem;
}

.task-card-description {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  max-height: 50px; /* Limit the height of the description in the initial view */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.task-card.expanded .task-card-description {
  max-height: none; /* Remove height limit in expanded state */
  white-space: normal; /* Allow text to wrap */
}

.task-card-created-by {
  color: #28a745; /* Green color for created by */
  font-weight: bold;
  margin-top: 10px;
}

.status-dot {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.5s ease;
}

.status-dot.blue {
  background-color: blue;
}

.status-dot.orange {
  background-color: orange;
}

.status-dot.green {
  background-color: green;
}

.status-dot.dim {
  background-color: transparent;
}

.task-card-dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
}

.task-card-dropdown-toggle {
  font-size: 1.2rem;
  padding: 0;
  border: none;
  background: none;
  color: #6c757d;
}

.task-card-delete-button {
  color: #dc3545;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
}

.task-card-delete-button svg {
  margin-right: 5px;
}